:root{
    --application-font-family: 'Source Sans Pro', sans-serif;
    --color-white: #FFFFFF;
    --color-light-gray: #585858;
    --color-dark-gray: #354052;
    --color-aqua-blue: #47BAC1;
    --color-violet: #31285C;
}
