.workouts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.workouts-headers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 5%;
    .workouts-section-title {
        text-align: left;
        font: normal 32px/40px var(--application-font-family);
        color: var(--color-light-gray);
    }

    .add-workout-button {
        background: var(--color-aqua-blue);
        border-radius: 33px;
        border: none;
        color: var(--color-white);
        width: 250px;
        height: 50px;
    }
    .logout-button {
        background: gray;
        border-radius: 33px;
        border: none;
        color: var(--color-white);
        width: 250px;
        height: 50px;
    }
}

.workouts-section{
    width: 100%;
    height: 100%;
}

.workouts-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: 40px;
    margin-left: 15px;
    margin-right: 15px;
}

.workout {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 300px;
    height: 355px;
    background: var(--color-white);
    box-shadow: 0px 0px 6px #0000004D;
}

.workout-info-container {
    height: 85%;
    .workout-title{
        margin-top: 20px;
        margin-left: 20px;
        text-align: left;
        font: normal 22px/32px var(--application-font-family);
        color: var(--color-light-gray);
    }

    .workout-exercises{
        margin-left: 20px;
        text-align: left;
        font: normal 16px/22px var(--application-font-family);
        color: var(--color-light-gray);
    }
}

.delete-container-placeholder {
    display: flex;
    align-items: center;
    height: 15%;
}

.workout-delete{
    position: relative;
    left: calc(50% - 75px/2);
    width: 75px;
    height: 30px;
    background: var(--color-aqua-blue);
    border-radius: 33px;
    border: none;
    color: var(--color-white);
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .workouts-headers {
        .workouts-section-title {
            font: normal 24px/32px var(--application-font-family);
            color: var(--color-light-gray);
        }

        .add-workout-button, .logout-button {
            width: 120px;
            height: 45px;
        }
    }
}
